/*Dokumen CSS*/

	tulisan_miring{
	font-family:Vardana, Ariawal, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	}
	
	cetak_tebal{
	font-family:Vardana, Ariawal, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:skyblue;
	}
	
	#14pt{
	font-size:14pt;
	}
	p{
	font-family:Vardana, Ariawal, Helvetica, sans-serif;
	}
	td{
	font-weight:bold;
	}
	a{
	font-size:24px;
	}